.product {
    background-color: aliceblue;
    border: 1px solid #6a6a6b;
    margin-bottom: 12px;
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-inline: 10px;
}

.product img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}
.product li {
    list-style-type: none;
}

.product h6 {
    font-size: 20px;
}

.product-bottom div {
    flex: 1;
}

.add-btn {
    margin-left: 225px;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}